APP_PORT=3000
BACKEND_PORT=8080
MYSQL_PORT=3306
REDIS_PORT=6379
MYSQL_DATABASE=commerce_lab
MYSQL_USER=commerce
MYSQL_PASSWORD=commerce
MYSQL_ROOT_PASSWORD=local-root
CACHE_LAB_TTL=500ms
CACHE_LAB_ORIGIN_DELAY=40ms
CACHE_LAB_LOCK_LEASE=2s
CACHE_LAB_LOCK_WAIT_TIMEOUT=1s
CACHE_LAB_LOCK_POLL_INTERVAL=10ms
